services:
  redis:
    image: redis:8.4-alpine
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - redis
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 5s

networks:
  redis:

volumes:
  redis_data:
    driver: local
